.contactDetails {
  text-align: center;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    padding: 0 18%;
    padding-top: 48px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 550px;
}
