.footer {
    background-color: #d8d8d8;
    height: 180px;
    width: 100%;
    padding: 20px 10%;
    margin-top: 24px;

    .icon {
        margin: 5px;
    }
    
    .smIcons {
        text-align: center;
    }
}

.copyright {
    text-align: center;
    background-color: #d8d8d8;
    height: 30px;
    width: 100%;
    padding: 0 10%;
}