// .buttons {
//     background-color: #f92a38;
//     text-align: center;
//     height: 50px;
// }

.logo {
  width: 236px;
  height: 112px;
  padding-top: 15px;
}

.menuStyle {
  //padding: 0 440px;
  padding: 0 60px;
}
