.pageBody {
//  background-color: black; //Uncomment for night mode
}

.subtext {
  background-color: #6d6ded;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.mobileLogo {
  width: 130px;
  height: 70px;
}

.mobileHeader {
  text-align: center;
}
